* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    background-color: #e1eea6;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #e997b2;
    border: 1px  lightblue;
    box-shadow: 5px 10px 10px rgb(0,0,0,0.2);
}

.header h1 {
    color: white;
    font-size: 27px;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    
}

.toolsContainer {
    box-shadow: 8px 10px 15px rgb(0,0,0,0.2);
    background-color: #eb9eb7;
    opacity: 85%;
    margin: 20px;
    padding: 20px 5px;
    text-align: center;
}

#canvas {
    box-shadow: 8px 10px 15px rgb(0,0,0,0.2);
    background-color: white;
    margin: 20px;
}

button {
    background-color: none;
    transition: .3s;
    box-sizing: border-box;
    
   
}
.icon-size{
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
    cursor: pointer;
    display: inline-flexbox;
    flex-direction: row-reverse;
  }
  

.toolsContainer .icon button:focus{
    border-radius: 15%;
    background-color: rgb(71, 118, 158);
    box-shadow: 2px 6px 10px rgb(0,0,0,0.2);
    animation: anime-shadow .3s forwards;
}

.toolsContainer .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

@keyframes anime-shadow{
    180%{
        box-shadow: 2px 6px 10px rgb(0,0,0,0.2);
    }
}

.toolsContainer h4 {
    margin-top: 1px;
    padding: 5px;
}
.icon:nth-child(1){
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
}
.icon:nth-child(2){
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
}

.pencil, .icon:nth-child(3) {
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
  }
.icon:nth-child(4){
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
}
.icon:nth-child(5){
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
}
.icon:nth-child(6){
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
}
.icon:nth-child(7){
    font-family: 'arial black';
    color: #14396A !important;
    font-size: 15px;
    text-shadow: 1px 1px 2px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 2px 15px 10px;
    border-radius: 10px;
    border: 2px solid #5081c2;
    background: #63B8EE;
    background: linear-gradient(to top, #63eead, #469dcf);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
}
